
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Architects | Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset ('img/favicon.ico') }}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{{ asset ('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset ('css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset ('css/slicknav.css') }}">
    <link rel="stylesheet" href="{{ asset ('css/flaticon.css') }}">
    <link rel="stylesheet" href="{{ asset ('css/hamburgers.min.css') }}">
    <link rel="stylesheet" href="{{ asset ('css/gijgo.css') }}">
    <link rel="stylesheet" href="{{ asset ('css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset ('css/animated-headline.css') }}">
    <link rel="stylesheet" href="{{ asset ('css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset ('css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ asset ('css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset ('css/slick.css') }}">
    <link rel="stylesheet" href="{{ asset ('css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ asset ('css/style.css') }}">
</head>
<body>
<!-- ? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="{{ asset ('img/logo/loder2.png') }}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header>
    <!--? Header Start -->
    <div class="header-area header-transparent">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-2 col-md-1">
                        <div class="logo">
                            <a href="{{path('ys_homepage')}}"><img src="{{ asset ('img/logo/logo.png') }}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-10">
                        <div class="main-menu black-menu menu-bg-white d-none d-lg-block">
                            <div class="hamburger hamburger--collapse">
                                <div class="hamburger-box">
                                    <div class="hamburger-inner"></div>
                                </div>
                            </div>
                            <nav class="hamburger-menu">
                                <ul id="navigation">
                                    <li><a href="{{path('ys_homepage')}}">Acceuil</a></li>
                                    <li><a href="{{path('ys_projets')}}">Partenaires</a></li>
                                    <li><a href="{{path('ys_partenaires')}}">Projets</a></li>
                                    <li><a href="{{path('ys_mission')}}">Missions</a></li>
                                    <!-- <li>
                                         <a href="blog.html">Blog</a>
                                         <ul class="submenu">
                                             <li><a href="blog.html">Blog</a></li>
                                             <li><a href="blog_details.html">Blog Details</a></li>
                                             <li><a href="elements.html">Element</a></li>
                                         </ul>
                                     </li> -->
                                    <li><a href="{{path('ys_contact')}}">contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
{% block acceuil %}{% endblock %}
{% block contact %}{% endblock %}
{% block projets %}{% endblock %}
{% block missions %}{% endblock %}
{% block partenaires %}{% endblock %}
<footer>
    <!-- Footer Start-->
    <div class="footer-area footer-padding section-bg" data-background="{{ asset ('img/gallery/footer_bg.png') }}">
        <div class="container">
            <!-- Footer Top -->
            <div class="footer-top">
                <div class="row justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo">

                                    <a href="{{path('ys_homepage')}}"><img src="{{ asset ('img/logo/logo.png') }}" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>Agence d'architecture qui accompagne le maître d'ouvrage dans tout type de projets de la phase faisabilité à la remise des clés en passant par le suivi de chantier.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#"> Offers & Discounts</a></li>
                                    <li><a href="#"> Get Coupon</a></li>
                                    <li><a href="#">  Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>New Products</h4>
                                <ul>
                                    <li><a href="#">Woman Cloth</a></li>
                                    <li><a href="#">Fashion Accessories</a></li>
                                    <li><a href="#"> Man Accessories</a></li>
                                    <li><a href="#"> Rubber made Toys</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Support</h4>
                                <ul>
                                    <li><a href="#">Frequently Asked Questions</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Report a Payment Issue</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer bottom -->
            <div class="footer-bottom">
                <div class="row">
                    <div class="col-xl-7 col-lg-8 col-md-7">
                        <div class="footer-copy-right">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5">
                        <div class="footer-copy-right f-right">
                            <!-- social -->
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/YES.SERV.Agence.Darchitecture/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>
<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->

<script src="{{ asset ('js/vendor/modernizr-3.5.0.min.js') }}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{{ asset ('js/vendor/jquery-1.12.4.min.js') }}"></script>
<script src="{{ asset ('js/popper.min.js') }}"></script>
<script src="{{ asset ('js/bootstrap.min.js') }}"></script>
<!-- Jquery Mobile Menu -->
<script src="{{ asset ('js/jquery.slicknav.min.js') }}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{{ asset ('js/owl.carousel.min.js') }}"></script>
<script src="{{ asset ('js/slick.min.js') }}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{{ asset ('js/wow.min.js') }}"></script>
<script src="{{ asset ('js/animated.headline.js') }}"></script>
<script src="{{ asset ('js/jquery.magnific-popup.js') }}"></script>

<!-- Date Picker -->
<script src="{{ asset ('js/gijgo.min.js') }}"></script>
<!-- Nice-select, sticky -->
<script src="{{ asset ('js/jquery.nice-select.min.js') }}"></script>
<script src="{{ asset ('js/jquery.sticky.js') }}"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="{{ asset ('js/jquery.counterup.min.js') }}"></script>
<script src="{{ asset ('js/waypoints.min.js') }}"></script>
<script src="{{ asset ('js/jquery.countdown.min.js') }}"></script>
<script src="{{ asset ('js/hover-direction-snake.min.js') }}"></script>

<!-- contact js -->
<script src="{{ asset ('js/contact.js') }}"></script>
<script src="{{ asset ('js/jquery.form.js') }}"></script>
<script src="{{ asset ('js/jquery.validate.min.js') }}"></script>
<script src="{{ asset ('js/mail-script.js') }}"></script>
<script src="{{ asset ('js/jquery.ajaxchimp.min.js') }}"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="{{ asset ('js/plugins.js') }}"></script>
<script src="{{ asset ('js/main.js') }}"> </script>

</body>
</html>